@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Rochester&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rochester", "Poppins";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  background-image: url("/asset/beautiful-husband-wife-posing-beach.jpg");
  background-size: contain;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/1;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -2px;
}
.container .blur {
  backdrop-filter: blur(1px);
  width: 100%;
  height: 130vh;
}
.container .blur nav {
  display: flex;
  line-height: 100px;
  justify-content: space-between;
  padding: 0 7%;
  align-items: center;
}
.container .blur nav span {
  font-family: "Rochester";
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.container .blur nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  text-transform: capitalize;
}
.container .blur nav ul a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 15px;
  color: gray;
  transition: all ease-in-out 0.3s;
}
.container .blur nav ul a:hover {
  color: white;
}
.container .blur nav .bar {
  display: none;
}
.container .blur nav .bar img {
  max-width: 50px;
}
.container .blur nav .sidebar {
  display: none;
}
.container .blur .pengantin {
  text-align: center;
  padding: 10% 0 0 0;
  color: rgb(252, 251, 251);
  text-shadow: 0px 2px 4px gray;
}
.container .blur .pengantin h1 {
  font-size: 7rem;
}
.container .blur .pengantin p {
  font-family: "Poppins";
  font-size: 20px;
}
.container .blur .pengantin span {
  color: deeppink;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}
.container .blur .pengantin button {
  width: 150px;
  height: 50px;
  font-family: "Poppins";
  border: none;
  border-radius: 10px;
  background: deeppink;
  color: white;
  font-weight: 500;
  margin-top: 5%;
  box-shadow: 0px 2px 8px rgba(255, 20, 145, 0.808);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.container .blur .pengantin button:hover {
  box-shadow: 0px 4px 20px rgba(255, 20, 145, 0.808);
}

.mempelai {
  background-image: url("/asset/26559499_7180300.jpg");
  width: 100%;
  height: auto;
  background-size: auto;
}
.mempelai .ucapan {
  text-align: center;
  padding: 5% 0;
}
.mempelai .ucapan h1 {
  font-size: 50px;
  color: deeppink;
  text-shadow: 0px 2px 4px rgba(192, 187, 187, 0.637);
}
.mempelai .ucapan p {
  font-family: "Poppins";
  padding: 2% 0;
  color: rgba(37, 37, 37, 0.7450980392);
}
.mempelai .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.mempelai .flex .dan {
  font-size: 70px;
  font-style: italic;
  margin: 0 5%;
}
.mempelai .flex .kotak {
  width: 400px;
  height: 530px;
  border-radius: 10px;
  background: transparent;
  margin: 0 0%;
  border: 2px solid deeppink;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.637);
  display: block;
}
.mempelai .flex .kotak .icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
}
.mempelai .flex .kotak .icon img {
  border-radius: 50%;
  width: 150px;
  aspect-ratio: 3/3;
  background-size: cover;
  object-fit: cover;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.877);
}
.mempelai .flex .kotak .icon h1 {
  padding: 5% 0;
  color: deeppink;
  font-weight: 500;
  font-size: 40px;
}
.mempelai .flex .kotak .icon span {
  font-family: "Poppins";
  color: rgba(37, 37, 37, 0.7450980392);
  font-size: 15px;
}
.mempelai .flex .kotak .deskripsi {
  position: relative;
  margin-top: 85%;
  padding-right: 10%;
  padding-left: 10%;
}
.mempelai .flex .kotak .deskripsi p {
  font-family: "Poppins";
  font-size: 15px;
  color: rgba(37, 37, 37, 0.7450980392);
}
.mempelai .ucapan-footer {
  text-align: center;
  font-size: 30px;
  margin-left: 20%;
  margin-top: 5%;
}
.mempelai .ucapan-footer p {
  padding-right: 30%;
  color: deeppink;
}
.mempelai .undangan {
  margin-top: 10%;
}
.mempelai .undangan .acara h1 {
  font-size: 50px;
  color: #252525;
  text-align: center;
}
.mempelai .undangan .acara p {
  text-align: center;
  padding: 0 25%;
  font-family: "Poppins";
  font-size: 15px;
  color: rgba(37, 37, 37, 0.7450980392);
  padding-top: 5%;
}
.mempelai .undangan .kotak-acara {
  background: rgb(236, 121, 182);
  backdrop-filter: blur(3px);
  width: 400px;
  height: 350px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin: 5% 1%;
  padding: 2% 2%;
  box-shadow: 0px 4px 10px rgba(37, 37, 37, 0.2392156863);
}
.mempelai .undangan .kotak-acara .judul-acara p {
  font-weight: 200;
  font-family: "Poppins";
  border-bottom: 2px solid white;
  text-transform: uppercase;
  color: white;
}
.mempelai .undangan .kotak-acara .icon {
  margin: 10% 10%;
}
.mempelai .undangan .kotak-acara .icon img {
  max-width: 30px;
  filter: brightness(10);
}
.mempelai .undangan .kotak-acara .icon p {
  padding: 2% 5%;
  font-family: "Poppins";
  font-size: 14px;
  color: white;
}

.progress {
  height: 225vh;
  background: whitesmoke;
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
}
.progress .judul-undangan {
  text-align: center;
  padding: 5% 0;
}
.progress .judul-undangan h1 {
  font-size: 50px;
  color: deeppink;
  text-shadow: 0px 2px 4px gray;
}
.progress .judul-undangan p {
  font-family: "Poppins";
  color: rgba(37, 37, 37, 0.7450980392);
  font-size: 15px;
  padding: 2% 25%;
}
.progress .timeline ul {
  padding: 20px 0;
}
.progress .timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 50px;
  background: deeppink;
}
.progress .timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}
.progress .timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  border: solid 2px deeppink;
  border-radius: 10px;
}
.progress .timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.progress .timeline ul li:nth-child(odd) div {
  left: 45px;
}
.progress .timeline ul li:nth-child(odd) div::before {
  left: -17px;
  border-width: 8px 16px 8px 0;
  border-color: transparent deeppink transparent transparent;
}
.progress .timeline ul li:nth-child(even) div {
  left: -439px;
}
.progress .timeline ul li:nth-child(even) div::before {
  right: -17px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent deeppink;
}
.progress time {
  display: block;
  font-size: 16px;
  margin: 8px 0;
  font-family: "Poppins";
}
.progress p {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 500;
}
.progress span {
  font-family: "Poppins";
  font-size: 15px;
  color: rgba(37, 37, 37, 0.7450980392);
}

.galeri {
  background: whitesmoke;
  height: 150vh;
}
.galeri .judul-acara {
  text-align: center;
}
.galeri .judul-acara h1 {
  font-size: 50px;
  color: #252525;
}
.galeri .flex {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.galeri .flex .foto {
  margin: 2% 2%;
  width: 350px;
  height: 400px;
  overflow: hidden;
  border: 2px solid deeppink;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(37, 37, 37, 0.7450980392);
}
.galeri .flex .foto img {
  width: 400px;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: all ease-in-out 0.3s;
  filter: grayscale(1);
}
.galeri .flex .foto img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.doa-ucapan {
  background-image: url("/asset/15967283_Watercolor_pink_floral_wreath_with_golden_circle.jpg");
  background-size: cover;
  height: 180vh;
}
.doa-ucapan .judul-ucapan {
  text-align: center;
  padding-top: 2%;
}
.doa-ucapan .judul-ucapan h1 {
  font-size: 50px;
  color: #252525;
}
.doa-ucapan .salam {
  text-align: center;
  padding: 18% 0 0 0;
}
.doa-ucapan .salam p {
  font-family: "Poppins";
  font-size: 15px;
  padding: 2px 30%;
}
.doa-ucapan .salam .flex {
  display: flex;
  margin-left: 28%;
}
.doa-ucapan .salam .flex .keluarga {
  width: 30%;
}
.doa-ucapan .doa {
  text-align: center;
  padding-top: 5%;
}
.doa-ucapan .doa p {
  font-size: 20px;
  padding: 0 30%;
}
.doa-ucapan .doa span {
  font-size: 30px;
}
.doa-ucapan .nama-pengantin {
  text-align: center;
  padding-top: 4%;
}
.doa-ucapan .nama-pengantin h1 {
  color: deeppink;
  font-size: 70px;
}

footer {
  font-family: "Poppins";
  text-align: center;
  font-size: 13px;
  color: rgba(37, 37, 37, 0.7450980392);
}
footer a {
  font-family: "Poppins";
  text-decoration: none;
  color: rgba(37, 37, 37, 0.7450980392);
}

/*# sourceMappingURL=style.css.map */
